.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.themeToggle {
    position: sticky;
    align-self: flex-end;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border: solid 2px;
    border-radius: 35px;
}