@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', serif;
    margin: 0;
}

.header_text {
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 30px;
    text-decoration: none;
    color: inherit;
}

.header_button {
    font-size: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
}

.card_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: auto;
    gap: 30px;
    width: 30%;
}

.full_page_container {
    display: flex;
    flex-direction: column;
    margin: 120px 40px 40px 40px;
    gap: 30px;
    margin-inside: 0;
}

.row_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: inherit;
}

h1 {
    font-family: inherit;
    font-weight: normal;
    font-size: xx-large;
    margin: 0;
}

p {
    font-size: large;
    margin: 0;
}

.loading_icon {
    align-self: center;
    justify-self: center;
    margin: auto;
    min-width: 50px;
    min-height: 50px;
}

.data_input {
    border: solid 2px;
    border-radius: 20px;
    height: 30px;
    outline: none;
    font: inherit;
    font-size: large;
    padding: 15px 20px;
    background-color: transparent;
    color: inherit;
}

.small_data_input {
    border: solid 2px;
    border-radius: 20px;
    height: 30px;
    outline: none;
    font: inherit;
    font-size: large;
    padding: 10px 30px;
    background-color: transparent;
    color: inherit;
}

.next_button {
    align-self: end;
    height: 30px;
    width: 50px;
    padding: 10px;
    border: solid 2px;
    border-radius: 20px;
    cursor: pointer;
}

.text_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 20px;
    width: fit-content;
    outline: none;
    font-size: large;
    padding: 10px 30px;
    gap: 10px;
    cursor: pointer;
}

.separator {
    width: 0;
    margin: 0;
}

.small_button {
    cursor: pointer;
    color: grey;
}

.link {
    color: inherit;
    text-decoration: underline;
    font-size: medium;
    text-align: center;
}
