.question_container {
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    min-height: calc(100vh - 160px);
    margin: 0;
}

.question_header {
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    font-size: x-large;
    margin: 0;
}

.question_contents {
    text-align: center;
    font-variant: normal;
    font-weight: 400;
    font-size: x-large;
    margin: 0;
}

.question_word_type {
    text-align: center;
    font-variant: normal;
    font-weight: 400;
    color: grey;
    font-size: x-large;
}

.question_answer {
    width: fit-content;
    border: none;
    /*border-bottom: solid 2px;*/
    text-decoration: underline;
    outline: none;
    font: inherit;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: transparent;
    color: inherit;
}

.question_card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 50%;
    margin: auto;
    gap: 10px;
}

.question_status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.question_next {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
}